In [1]:
import pandas as pd 

df = pd.read_csv("twitter-data/twitter_training.csv")

df.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [2]:
import pandas as pd 

df = pd.read_csv("twitter-data/twitter_validation.csv")

df.head()

,3364,Facebook,Irrelevant,"I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tomâ€™s great auntie as â€˜Hayley canâ€™t get out of bedâ€™ and told to his grandma, who now thinks Iâ€™m a lazy, terrible person ðŸ¤£"
0,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
1,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
2,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
3,4433,Google,Neutral,Now the President is slapping Americans in the...
4,6273,FIFA,Negative,Hi @EAHelp Iâ€™ve had Madeleine McCann in my cel...

In [3]:
import pandas as pd

df1 = pd.read_csv('twitter-data/twitter_training.csv')
df2 = pd.read_csv('twitter-data/twitter_validation.csv')

combined_df = pd.concat([df1, df2], ignore_index=True)

combined_df.to_csv('data/data.csv', index=False)

In [4]:
import pandas as pd

# Read CSVs without headers
df1 = pd.read_csv('twitter-data/twitter_training.csv', header=None)
df2 = pd.read_csv('twitter-data/twitter_validation.csv', header=None)

# Stack them vertically
merged_df = pd.concat([df1, df2], ignore_index=True)

# Save without adding headers
merged_df.to_csv('data/dataset.csv', index=False, header=False)

print("âœ… CSVs merged vertically and saved as merged_dataset.csv")

âœ… CSVs merged vertically and saved as merged_dataset.csv

In [5]:
df = pd.read_csv("data/dataset.csv")

In [6]:
df.shape

(75681, 4)

In [7]:
df = df.drop_duplicates()

In [8]:
df = df.dropna()

In [9]:
df.shape

(72138, 4)

In [10]:
df.to_csv("data/dataset.csv", index=False)

In [12]:
import pandas as pd

# Define the column names
column_names = ["index", "source", "sentiment", "comment"]  # change as needed

# Read merged CSV (no headers originally)
df = pd.read_csv('data/dataset.csv', header=None, names=column_names)

# Save with new headers
df.to_csv('dataset/dataset.csv', index=False)

print("âœ… Columns renamed in merged_dataset.csv")

âœ… Columns renamed in merged_dataset.csv

In [13]:
import pandas as pd

# Read the dataset
df = pd.read_csv('dataset/dataset.csv')

# Drop specific columns
df = df.drop(columns=['index', 'source'])  # replace with your actual column names

# Save the updated dataset
df.to_csv('twitter-sentiment/sentiment-dataset.csv', index=False)

print("âœ… Columns removed and file updated")

âœ… Columns removed and file updated

In [14]:
df = pd.read_csv('twitter-sentiment/sentiment-dataset.csv')

df.head()

  sentiment                                            comment
0  Positive  im getting on borderlands and i will murder yo...
1  Positive  I am coming to the borders and I will kill you...
2  Positive  im getting on borderlands and i will kill you ...
3  Positive  im coming on borderlands and i will murder you...
4  Positive  im getting on borderlands 2 and i will murder ...